{% extends 'generic/object_edit.html' %}
{% load rest_framework %}

{% block form %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Site</strong></div>
        <div class="panel-body">
            {% render_field serializer.name style=style %}
            {% render_field serializer.slug style=style %}
            {% render_field serializer.status style=style %}
            {% render_field serializer.region style=style %}
            {% render_field serializer.facility style=style %}
            {% render_field serializer.asn style=style %}
            {% render_field serializer.time_zone style=style %}
            {% render_field serializer.description style=style %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Tenancy</strong></div>
        <div class="panel-body">
            {% render_field serializer.tenant_group style=style %}
            {% render_field serializer.tenant style=style %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Contact Info</strong></div>
        <div class="panel-body">
            {% render_field serializer.physical_address style=style %}
            {% render_field serializer.shipping_address style=style %}
            {% render_field serializer.latitude style=style %}
            {% render_field serializer.longitude style=style %}
            {% render_field serializer.contact_name style=style %}
            {% render_field serializer.contact_phone style=style %}
            {% render_field serializer.contact_email style=style %}
        </div>
    </div>
    {% include 'inc/extras_features_edit_form_fields.html' %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Comments</strong></div>
        <div class="panel-body">
            {% render_field serializer.comments style=style %}
        </div>
    </div>
{% endblock %}
